test:
  stage: test
  script: "cd ./runner && bash ./gitlab-runner.sh"
  artifacts:
    when: always
    paths:
      - gitreport.html
      - testreport.html
      - playreport.html
      - valgrind_logs/
      - play_logs/
